task component
<!-- <mat-card-content>
    <div>
      <div [formGroup]="presence" class="presence-container">
        <mat-form-field class="date-field">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>{{dateHint}}</mat-hint>
        </mat-form-field>
  
        <input-time-component
          label="From"
          formControlName="startTime"
          hint=""
        ></input-time-component>
        
        <input-time-component
          label="Till"
          formControlName="endTime"
          hint=""
        ></input-time-component>
      </div>
      <p>Total time {{presenceTotalTime}}</p>
      <div class="task-header">
        <h3>Tasks</h3>
        <button
          mat-icon-button
          (click)="clearTasks()"
          matTooltip="Remove all tasks"
        >
          <mat-icon>clear_all</mat-icon>
        </button>
        <button
          mat-icon-button
          class="presence-button-header"
          (click)="removeTask('AUTO')"
          matTooltip="Remove selected task"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button
          mat-icon-button
          class="presence-button-header"
          (click)="addTask('AUTO')"
          matTooltip="Add a task after select task"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  
    <mat-card *ngIf="tasks.length === 0" class="task-card">
      <mat-card-content>
        <mat-icon class="info-icon">info</mat-icon>
        <p>
          Click on the CREATE TASKS button to automaticly create the tasks and
          breaks. Or create a single task by pressing on SINGLE TASK.
        </p>
      </mat-card-content>
  
      <mat-card-actions align="end">
        <button mat-button (click)="addTask(0)">SINGLE TASKS</button>
        <button mat-stroked-button color="primary" (click)="tasksGenerator()">
          CREATE TASKS
        </button>
      </mat-card-actions>
    </mat-card>
    <div cdkDropList class="example-list" (cdkDropListDropped)="dropTask($event)">
      <ng-container *ngFor="let task of tasks; track task; let idx = index">
        <mat-card cdkDrag class="task-card" [class]="task.class">
          <mat-card-content>
            <div class="task-container" (click)="setLastSelectedTask(idx)">
              <mat-icon
                cdkDragHandle
                class="drag-handle"
                fontIcon="drag_handle"
              ></mat-icon>
    
              
    
              <mat-form-field class="task">
                <mat-label>Task</mat-label>
                <input
                  type="text"
                  matInput
                  [matAutocomplete]="auto"
                  autoActiveFirstOption="true"
                  (input)="tasksFilter($event, idx)"
                  (focus)="tasksFilter($event, idx)"
                  [(ngModel)]="task.selectedOption"
                />
                <mat-autocomplete
                  requireSelection
                  #auto="matAutocomplete"
                  [displayWith]="displayTaskName"
                >
                <ng-container *ngFor="let option of task.filteredOptions; track option">
                    <mat-option [value]="option">{{option.name}}</mat-option>
                </ng-container>
                </mat-autocomplete>
              </mat-form-field>
    
              <button
                mat-icon-button
                class="presence-button"
                (click)="removeTask(idx)"
                matTooltip="Remove selected task"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <button
                mat-icon-button
                class="presence-button"
                (click)="addTask(idx)"
                matTooltip="Add a task after select task"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  
    <mat-card *ngIf="tasks.length > 0 && pauseCount ===0" class="task-card">
      <mat-card-actions align="start">
        <button
          mat-stroked-button
          color="primary"
          (click)="addRemainingAsPause()"
        >
          Add remaining pause
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card-actions class="action-buttons" align="end">
      <div class="remaining-container">
        <p>
          Remaining {{totalTimeRemaining}} <br />Tasks {{totalTimeTasksSpecified}}
          Break {{totalTimeBreaksSpecified}}
        </p>
      </div>
  
      <span class="spacer"></span>
  
      <button mat-button>CANCEL</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="saveDisabled"
        (click)="saveTasks()"
      >
        SAVE
      </button>
  
    </mat-card-actions>
  </mat-card-content> -->