mat-toolbar {
    // background-image: linear-gradient(to bottom right,#167a8e,#01A0C6,#01ADC1,#00D0B3,#00F8A2);
    background: #202c33;

    .nav-items{
        display: flex;
        flex-wrap: wrap;
        padding: 0rem 1rem;

        a.link{
            padding: 1rem;
            color: #ffffff;
            text-decoration: none;

            &:hover{
                background-color: #00D0B3;
            }
        }
    }
}

.flex-grow{
    flex: 1 1 auto;
}