<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="logo">
            <img width="135" height="50" src="./assets/images/Opus Watch_Logo_Wit_L.svg">
        </div>
        <!-- <div class="nav-items d-lg-block d-none">
            <a class="link" routerLink="" routerLinkActive="active-link">Labor</a>
            <a class="link" routerLink="" routerLinkActive="active-link">Productivity</a>
            <a class="link" routerLink="" routerLinkActive="active-link">Sessions</a>
            <a class="link" routerLink="" routerLinkActive="active-link">Registrations</a>
        </div> -->

        <span class="flex-grow"></span>

        <button mat-mini-fab [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>