<mat-card class="container">
    <div class="worker-container">
      <h1>Time registration</h1>
      <span class="spacer"></span>
      <!-- <mat-form-field class="worker"  appearance="outline">
        <mat-label>Worker</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <mat-select [(ngModel)]="workerSelected">
          <ng-container *ngFor="let worker of workerOptions; track worker">
            <mat-option [value]="worker.id">{{worker.name}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field> -->
  
    </div>
  
  
  
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>schedule</mat-icon>
          Tasks
        </ng-template>
        <app-tasks></app-tasks>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>beach_access</mat-icon>
          Time-off
        </ng-template>
        <app-time-off></app-time-off>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>calendar_month</mat-icon>
          Calendar
        </ng-template>
        <app-calendar></app-calendar>
      </mat-tab>
    </mat-tab-group>
  </mat-card>