<div class="time-registration__wrapper  pt-4">
    <div class="time-registration__content mt-3">
        <label class="title mb-3">Date and Time</label>
        <mat-card class="time-registration__card">
            <mat-card-content>
                <div [formGroup]="presenceForm" class="max-w-600">
                    <div class="date-location mb-3">
                        <div class="flex-grow-1">
                            <label class="d-block mb-3 font-xs-18">Set date</label>
                            <mat-form-field class="date-field w-100" appearance="outline">
                                <mat-label>Choose a date</mat-label>
                                <input matInput required [matDatepickerFilter]="futureFilter" [matDatepicker]="picker" formControlName="date" />
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint>{{dateHint}}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="flex-grow-1">
                            <label class="d-block mb-3 font-xs-18">Set location</label>

                              <mat-form-field class="task flex-grow-1 w-100" appearance="outline">
                                <mat-label>Choose location</mat-label>
                                <mat-select type="text" [disabled]="dateIsForPastNSaved()" formControlName="locationId">
                                  <mat-option [value]="null">Select Location</mat-option>
                                  <ng-container *ngFor="let location of clientLocations;">
                                    <mat-option [value]="location.id">{{location.name}}</mat-option>
                                  </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="d-block mb-3 font-xs-18">Set time</label>
                        <div class="time-inputs">
                            <app-input-time label="From" (updatedTime)="presenceDayLengthUpdated($event, 'startTime')" class="flex-grow-1" formControlName="startTime" hint=""
                             [isDisabled]="dateIsForPastNSaved()"></app-input-time>
                            <app-input-time label="Till" (updatedTime)="presenceDayLengthUpdated($event, 'endTime')" class="flex-grow-1" formControlName="endTime" hint=""
                            [isDisabled]="dateIsForPastNSaved()"></app-input-time>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="total-timing-wrapper p-3">
            <div class="total-time">
                <label>Total time</label>
                <h5 class="font-xs-18 main-color">{{presenceTotalTime}}</h5>
            </div>
        </div>
    </div>

    <div class="time-registration__content mt-1">
        <div class="d-flex align-items-center mb-2">
            <label class="title mb-0">Tasks</label>
            <span class="flex-grow-1"></span>

            <button mat-button (click)="clearTasks()" color="accent" [disabled]="updateInProgress || (taskRegns.length === 0) || dateIsForPastNSaved()">
                <mat-icon>delete</mat-icon>
                <span>Remove all tasks</span>
              </button>

              <button class="d-block d-lg-none" *ngIf="taskRegns.length > 0" mat-icon-button (click)="removeTaskRegn('AUTO')" color="accent" [disabled]="updateInProgress  || dateIsForPastNSaved()">
                <mat-icon>remove</mat-icon>
              </button>
              <button class="d-block d-lg-none" *ngIf="taskRegns.length > 0" mat-icon-button (click)="addTaskRegn('AUTO')" color="accent" [disabled]="updateInProgress  || dateIsForPastNSaved()">
                <mat-icon>add</mat-icon>
              </button>

        </div>
        <mat-card class="time-registration__card">
            <mat-card-content>

                <div cdkDropList class="draggable-task-list" (cdkDropListDropped)="dropTask($event)">
                    <ng-container *ngFor="let taskRegn of taskRegns; let idx = index;trackBy: trackByTask">
                        <mat-card [cdkDragDisabled]="dateIsForPastNSaved()" cdkDrag class="draggable-task-card card-elevated mb-3" [class]="taskRegn.class"
                        (click)="setLastSelectedTaskRegn(idx)">
                            <mat-card-content>
                                <div class="draggable-item">
                                    <mat-icon cdkDragHandle [class]="dateIsForPastNSaved()?'drag-handle flex-shrink-0 disabled':'drag-handle flex-shrink-0'">drag_indicator</mat-icon>
                                        <app-input-time (updatedTime)="taskTimeUpdated($event, idx)" class="duration" label="Duration" [(ngModel)]="taskRegn.duration" hint="{{taskRegn.startTime}} - {{taskRegn.endTime}}" (change)="changedTaskRegnDuration($event)" [isDisabled]="dateIsForPastNSaved()"></app-input-time>
                                        <mat-form-field class="task flex-grow-1" appearance="outline">
                                            <mat-label>Task</mat-label>
                                            <input type="text" #inputValue matInput [matAutocomplete]="auto" autoActiveFirstOption="true"
                                                (input)="tasksFilter($event, idx)" (focus)="tasksFilter($event, idx)" (ngModelChange)="onTaskSelectionInTaskRegn($event, idx)"
                                                [(ngModel)]="taskRegn.selectedOption" [disabled]="dateIsForPastNSaved()" />
                                            <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displaySelectedName" (closed)="onAutocompleteClosed(inputValue.value,idx,inputValue)">
                                                <ng-container *ngFor="let option of taskFilterOption;">
                                                    <mat-option [value]="option">{{option.name}}</mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                        <button mat-icon-button class="mt-1 d-lg-block d-none" (click)="removeTaskRegn(idx)"
                                            matTooltip="Remove selected task" [disabled]="updateInProgress || dateIsForPastNSaved()">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                        <button mat-icon-button class="mt-1 d-lg-block d-none" (click)="addTaskRegn(idx)"
                                            matTooltip="Add a task after this task" [disabled]="updateInProgress || dateIsForPastNSaved()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </ng-container>
                </div>

                <ng-container *ngIf="taskRegns.length > 0 && (pauseCount === 0)">
                    <button mat-stroked-button class="mb-4" (click)="addRemainingAsPause()" [disabled]="dateIsForPastNSaved()">
                        Add remaining pause
                    </button>
                </ng-container>

                <div class="add-task-card" *ngIf="taskRegns.length === 0">
                    <div>
                        <p class="mb-4 font-xs-13">Click Create Tasks button to automatically create the tasks and breaks.
                            <br>Or<br>
                            create a single task by pressing Single Task.</p>
                            <div class="add-task-btns">
                                <button class="add-task-btn" mat-button (click)="addTaskRegn(0)" [disabled]="!presenceDocForSelectedDate || dateIsForPastNSaved()">
                                    <mat-icon class="info-icon">add</mat-icon>Single task</button>
                                <button class="add-task-btn" mat-button (click)="tasksGenerator()" [disabled]="!presenceDocForSelectedDate || dateIsForPastNSaved()">
                                    <mat-icon class="info-icon">post_add</mat-icon>Create tasks</button>
                            </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="total-timing-wrapper p-3">
            <div class="total-time">
                <label>Remaining</label>
                <h5 class="font-xs-18 main-color">{{totalTimeRemaining}}</h5>
            </div>
            <div class="total-time">
                <label>Tasks</label>
                <h5 class="font-xs-18 main-color">{{totalTimeTasksSpecified}}</h5>
            </div>
            <div class="total-time">
                <label>Break</label>
                <h5 class="font-xs-18 main-color">{{totalTimeBreaksSpecified}}</h5>
            </div>
        </div>
    </div>


    <mat-card class="time-registration__footer p-0">
        <mat-card-content>
            <div class="d-flex justify-content-end time-registration__btn-group">
                <button mat-stroked-button (click)="cancelTasksNPresence()" [disabled]="!isCancellable() || updateInProgress || dateIsForPastNSaved()"><mat-icon class="info-icon">cancel</mat-icon> CANCEL</button>
                <button mat-stroked-button [disabled]="saveDisabled || updateInProgress || presenceDocForSelectedDate?.saved || !isTodaySelected || !presenceDocForSelectedDate.locationId" (click)="setPresenceAsSaved()">
                    <mat-icon class="info-icon">save</mat-icon> SAVE</button>
            </div>
        </mat-card-content>
    </mat-card>

</div>

