

.time-inputs,.date-location{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.date-location{

    &>div{
        width: 290px;
    }
}
.time-registration__content{

    & > label{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.add-task-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed #4d595f;
    padding: 2rem;
    border-radius: 10px;
}

.add-task-btns{
    display: flex;
    justify-content: center;
    gap: 1rem;

    .add-task-btn{
        flex-direction: column;
        width: 120px;
        height: 110px;
        border: 2px solid #00F8A2;
        border-radius: 7px;

        .info-icon{
            margin: 0;
            width: 40px;
            height: 40px;
            font-size: 40px;
            margin-bottom: 7px;
        }
    }
}

.task-regn-card-selected{
    border-color:#00F8A2 !important;
}

.draggable-item{
    display: flex;
    gap: 1rem;

    .drag-handle{
        margin-top: 1rem;
        cursor: grab;
    }
}
.draggable-task-card{
    padding-top: 12px;
    border: 2px solid #243036;
}

.total-timing-wrapper{
    display: flex;
    gap: 20px;
    justify-content: end;
    flex-wrap: wrap;
    .total-time{
        display: flex;
        align-items: center;
        gap: 0.65rem;
        justify-content: flex-end;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-task-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.max-w-600{
    max-width: 600px;
}
label.title{
    font-size: 18px;
    font-weight: 500;
}
.main-color{
    color: #00ffa7;
}
.time-registration{

    &__btn-group{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}
.time-registration__footer{
    position: sticky;
    margin: auto;
    bottom: 0;
    z-index: 3;
}
