<div class="time-registration__wrapper">
    <div class="time-registration__content mt-3">
        <label class="title mb-3">Date and Time</label>
        <mat-card class="time-registration__card">
            <mat-card-content>
                <div [formGroup]="presence" class="max-w-600">
                    <div class="mb-3">
                        <label class="d-block mb-3 font-xs-18">Set date</label>
                        <mat-form-field class="date-field w-100" appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepickerFilter]="futureFilter" [matDatepicker]="picker" formControlName="date" />
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint>{{dateHint}}</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <label class="d-block mb-3 font-xs-18">Set time</label>
                        <div class="time-inputs">
                            <app-input-time label="From" class="flex-grow-1" formControlName="startTime" hint=""></app-input-time>
                            <app-input-time label="Till" class="flex-grow-1" formControlName="endTime" hint=""></app-input-time>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="total-timing-wrapper p-3">
            <div class="total-time">
                <label>Total time</label>
                <h5 class="font-xs-18 main-color">{{presenceTotalTime}}</h5>
            </div>
        </div>
    </div>

    <div class="time-registration__content mt-1">
        <div class="d-flex align-items-center mb-2">
            <label class="title mb-0">Tasks</label>
            <span class="flex-grow-1"></span>

            <button *ngIf="taskRegns.length > 0" mat-button (click)="clearTasks()" color="accent">
                <mat-icon>delete</mat-icon>
                <span>Remove all tasks</span>
              </button>

              <button class="d-block d-lg-none" *ngIf="taskRegns.length > 0" mat-icon-button (click)="removeTask('AUTO')" color="accent">
                <mat-icon>remove</mat-icon>
              </button>
              <button class="d-block d-lg-none" *ngIf="taskRegns.length > 0" mat-icon-button (click)="addTask('AUTO')" color="accent">
                <mat-icon>add</mat-icon>
              </button>

        </div>
        <mat-card class="time-registration__card">
            <mat-card-content>

                <div cdkDropList class="draggable-task-list" (cdkDropListDropped)="dropTask($event)">
                    <ng-container *ngFor="let task of taskRegns; let idx = index">
                        <mat-card cdkDrag class="draggable-task-card card-elevated mb-3" [class]="task.class"
                        (click)="setLastSelectedTask(idx)">
                            <mat-card-content>
                                <div class="draggable-item">
                                    <mat-icon cdkDragHandle class="drag-handle flex-shrink-0">drag_indicator</mat-icon>

                                    <app-input-time class="duration" label="Duration" [(ngModel)]="task.duration"
                                    hint="{{task.startTime}} - {{task.endTime}}"
                                    (change)="changedTaskDuration($event)"></app-input-time>

                                    <mat-form-field class="task flex-grow-1" appearance="outline">
                                        <mat-label>Task</mat-label>
                                        <input type="text" matInput [matAutocomplete]="auto" autoActiveFirstOption="true"
                                            (input)="tasksFilter($event, idx)" (focus)="tasksFilter($event, idx)"
                                            [(ngModel)]="task.selectedOption" />
                                        <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayTaskName">
                                            <ng-container *ngFor="let option of task.filteredOptions;">
                                                <mat-option [value]="option">{{option.name}}</mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                    <button mat-icon-button class="mt-1 d-lg-block d-none" (click)="removeTask(idx)"
                                        matTooltip="Remove selected task">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <button mat-icon-button class="mt-1 d-lg-block d-none" (click)="addTask(idx)"
                                        matTooltip="Add a task after select task">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </ng-container>
                </div>

                <ng-container *ngIf="taskRegns.length > 0 && pauseCount ===0">
                    <button mat-stroked-button class="mb-4" (click)="addRemainingAsPause()">
                        Add remaining pause
                    </button>
                </ng-container>

                <div class="add-task-card" *ngIf="taskRegns.length === 0">
                    <div>
                        <p class="mb-4 font-xs-13">Click Create Tasks button to automatically create the tasks and breaks.
                            <br>Or<br>
                            create a single task by pressing Single Task.</p>
                            <div class="add-task-btns">
                                <button class="add-task-btn" mat-button (click)="addTask(0)">
                                    <mat-icon class="info-icon">add</mat-icon>Single task</button>
                                <button class="add-task-btn" mat-button (click)="tasksGenerator()">
                                    <mat-icon class="info-icon">post_add</mat-icon>Create tasks</button>
                            </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="total-timing-wrapper p-3">
            <div class="total-time">
                <label>Remaining</label>
                <h5 class="font-xs-18 main-color">{{totalTimeRemaining}}</h5>
            </div>
            <div class="total-time">
                <label>Tasks</label>
                <h5 class="font-xs-18 main-color">{{totalTimeTasksSpecified}}</h5>
            </div>
            <div class="total-time">
                <label>Break</label>
                <h5 class="font-xs-18 main-color">{{totalTimeBreaksSpecified}}</h5>
            </div>
        </div>
    </div>


    <mat-card class="time-registration__footer p-0">
        <mat-card-content>
            <div class="d-flex justify-content-end time-registration__btn-group">
                <button mat-stroked-button (click)="cancelTasks()" [disabled]="isCancellable()"><mat-icon class="info-icon">cancel</mat-icon> CANCEL</button>
                <button mat-stroked-button [disabled]="saveDisabled" (click)="saveTasks()">
                    <mat-icon class="info-icon">save</mat-icon> SAVE</button>
            </div>
        </mat-card-content>
    </mat-card>

</div>
