.main-navigation{
    position: sticky;
    top: 0;
    background: #243036;
    z-index: 2;
}
.install-desktop {

    .pwa-content {
        padding: 0.5rem;
        color: #ffffff;

        .arrow-icon {
            position: absolute;
            top: 8px;
            left: -62px;
            transform: rotate(4deg);
            width: 50px;
        }

        .close_btn {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            padding: 0.25rem;
            cursor: pointer;
            border-radius: 20px;
            font-size: 1.25rem;

            &:hover {
                background-color: #383f42;
            }
        }

        ._icon {
            font-size: 2rem;
        }
    }
}

::ng-deep .app-install-desktop{

    .mdc-snackbar__surface{
        // background-color: #1b2429 !important;
        border-radius: 20px !important;
        border: 1px solid #00F8A2;
        width: 410px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.1) !important;
        background: linear-gradient(225deg, rgba(255, 255, 255, 0.1) 0%, rgba(100, 100, 100, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(100, 100, 100, 0.1) 100%);
        box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, .1), inset 0px 0px 7px 1px rgba(255, 255, 255, .1), 0px 0px 7px 0px rgba(0, 0 ,0, .25) !important;
    }

    .remind-me-btn {
        label {
            margin-bottom: 0;
        }
    }
}

.primary-color {
    color: #00F8A2;
}