@media (max-width: 991.98px) {
    .draggable-task-card{

        .duration{
            max-width: 140px;
        }
    }
}

@media (max-width: 767.98px) {
    body{
        font-size: 14px;
    }

    .day-period-wrapper{

        .mat-mdc-tab-group{
            flex-direction: column !important;
            gap: 0 !important;

            .mat-mdc-tab-header{
                border-bottom: 1px solid #243036 !important;
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                min-height: auto !important;
                width: 100% !important;

                .mat-mdc-tab-labels{
                    flex-direction: row !important;
                    
                    .mat-mdc-tab{
                        border: 0 !important;
                        padding: 8px 8px !important;
                        height: auto !important;
                    }
                }

            }

            .mat-mdc-tab-body-wrapper{
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
            }
        }

        .day-vetical-tabs{
            flex-direction: column;

            .tab_icon{
                margin-right: 0 !important;
                margin-bottom: 0.75rem;
            }

            .tab_item_title{
                align-items: center !important;

                small{
                    // display: none;
                }
            }
        }
    }
}

@media (max-width: 574.98px) {
    .font-xs-13{
        font-size: 13px;
    }
    .font-xs-22{
        font-size: 22px;
    }
    .font-xs-18{
        font-size: 18px;
    }
    .font-xs-16{
        font-size: 16px;
    }
    .add-task-btns{
        .add-task-btn{
            .info-icon{
                width: 36px !important;
                height: 36px !important;
                font-size: 33px !important;
            }
        }
    }
    .draggable-task-card{

        .mat-mdc-card-content{
            padding-left: 6px;
        }

        .draggable-item{
            gap: 5px !important;
        }
    }
}