::ng-deep{
    .clock-content-tabs{
        .mat-mdc-tab .mdc-tab-indicator__content--underline{
            width: 50%;
            border-top-width: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    
        .mat-mdc-tab-labels{
            border-bottom: 1px solid #243036;
        }
    }
} 